.who-we-are {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    &__text, &__carousel {
      width: 100%;
    }

    &__carousel {
      height: 20rem;
    }
  }
}

@media screen and (min-width: 992px) {
  .who-we-are {
    &__container {
      flex-direction: row;
      justify-content: space-between;
      gap: 2.5rem;

      &__text, &__carousel {
        width: 100%;
      }

      &__carousel {
        height: 25rem;
      }
    }
  }
}
