@use '@angular/material' as mat;
@use '../../../../../assets/scss/theme.scss' as theme;

.where-are-we {
  &__container {
    &__text {
      text-align: center;
      margin-bottom: 1rem;
    }

    &__btn-waze {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 1rem;
      background: mat.get-theme-color(theme.$comunidade-vida-theme, primary);
      color: white;
      padding: 2rem;
      text-decoration-line: none;
      border-radius: 5px;
      text-transform: uppercase;
    }

    &__maps {
      width: 100vw;
      height: 20rem;
      border: 0;
      margin: 0 -1rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .where-are-we {
    &__container {
      &__maps {
        width: 100%;
        border-radius: 5px;
        margin: 0px auto;
      }
    }
  }
}
