<section id="where-are-we">
  <div class="container">
    <h3>Onde Estamos</h3>
    <div class="where-are-we__container">
      <p class="where-are-we__container__address">Av. Guaianazes, 862 - Homero Thon, Santo André - SP, 09111-110.</p>
      <iframe class="where-are-we__container__maps" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14616.64597228402!2d-46.5038868!3d-23.6701821!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce69b4f77b97b3%3A0x9527e972dc147ece!2sComunidade%20Vida%20em%20Santo%20Andr%C3%A9!5e0!3m2!1spt-BR!2sbr!4v1701528451393!5m2!1spt-BR!2sbr" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <div class="where-are-we__container__waze">
        <a class="where-are-we__container__waze__btn" href="https://ul.waze.com/ul?place=ChIJBcmlnMNpzpQRGUwLKqmC-ew&ll=-23.67016750%2C-46.50394760&navigate=yes&utm_campaign=default&utm_source=waze_website&utm_medium=lm_share_location" target="_blank">
          <img src="../../../../../assets/images/waze.svg"/>
          Abrir no Waze
        </a>
      </div>
    </div>
  </div>
</section>
