.where-are-we {
  &__container {
    &__maps {
      width: 100vw;
      height: 20rem;
      border: 0;
      margin: 0 -1rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .where-are-we {
    &__container {
      &__maps {
        width: 100%;
        border-radius: 5px;
        margin: 0px auto;
      }
    }
  }
}
