@use '@angular/material' as mat;
@use '../../../../../../assets/scss/theme.scss' as theme;

.icon-bar {
  width: 22px;
  height: 2px;
  margin: 3px;
  position: relative;
}

.bg-white {
  background: white;
}

.bg-primary {
  background: mat.get-theme-color(theme.$comunidade-vida-theme, primary);
}
