<div (click)="toggleIcon()" class="cursor">
  <div class="icon-bar" [ngClass]="scrollAtTop? 'background-white': 'background-primary'" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'topX'"></div>
  <div class="icon-bar" [ngClass]="scrollAtTop? 'background-white': 'background-primary'" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'hide'"></div>
  <div class="icon-bar" [ngClass]="scrollAtTop? 'background-white': 'background-primary'" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'bottomX'"></div>
</div>
